# variables

- Variables are used to store the data

- The Data can be change 

- These Variables can be use to manipulate python code

In [1]:
number=100
# 100 is stored in a variable called as number
number

100

In [2]:
NUMBER=200
NUMBER

200

In [3]:
number,NUMBER

(100, 200)

In [4]:
NUMber=300
NUMber

300

In [5]:
number,NUMBER,NUMber

(100, 200, 300)

In [6]:
number123=400
number123

400

In [7]:
123number=500
123number

SyntaxError: invalid decimal literal (1181908654.py, line 1)

In [8]:
# type first two letter enter tab
number
number123

400

**Note**:

- Variables generally in black color

- Green color should not be a variables

- numbers as suffix can work

- numbers as prefix fail

In [9]:
number$=600
number$

SyntaxError: invalid syntax (988349833.py, line 1)

In [10]:
number_one=300
number_one

300

In [11]:
numberone
number_one

NameError: name 'numberone' is not defined

In [13]:
_=1000
_

1000

In [ ]:
number=100  # w
NUMBER=200 # w
NUMber=300 # w
number123=400 # w
123number=500 # f
number%=600 # f
number one=700 # f
number_one=800 # w 
_=900# w

In [14]:
if=1000

SyntaxError: invalid syntax (4067401087.py, line 1)

In [ ]:
for
while
True
False

**keywords can not use as Varibales**